[packages]
grpcio = "*"
fastavro = "*"

[full]
"openai[embeddings]" = "*"
"openai[datalib]" = "*"
"openai[wandb]" = "*"
langchain = "*"
fastapi = "*"
uvicorn = "*"
boto3 = "*"
unstructured = "*"
llama-index = "*"
cassio = "*"

[dev-packages]
tox = "*"
black = "*"
ruff = "*"
pytest = "*"
grpcio-tools = "*"
