[packages]
pyYaml = "*"
confluent-kafka = "*"

[full]
"openai[embeddings]" = "*"
"openai[datalib]" = "*"
"openai[wandb]" = "*"
langchain = "*"
boto3 = "*"
unstructured = "*"
llama-index = "*"
cassio = "*"

[dev-packages]
tox = "*"
black = "*"
ruff = "*"
pytest = "*"
testcontainers-kafka = "*"
waiting = "*"
