[packages]
pyYaml = "*"
confluent-kafka = "*"

[full]
"openai[embeddings]" = "*"
"openai[datalib]" = "*"
"openai[wandb]" = "*"
langchain = "*"

[dev-packages]
tox = "*"
pytest = "*"
testcontainers-kafka = "*"
