name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    runs-on: LangStream-4-cores
    permissions: write-all
    steps:
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Init maven repo
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build
        run: |
          chmod +x mvnw
          ./docker/build.sh

      - name: Deploy docker images
        run: |
          repo=ghcr.io/langstream
          docker_tag=${GITHUB_REF/refs\/tags\/v/}
          echo "Using docker tag: $docker_tag"
          tag_and_push() {
            image=$1
            docker tag langstream/$image:latest-dev $repo/$image:$docker_tag
            docker push $repo/$image:$docker_tag
          }
          tag_and_push langstream-runtime
          tag_and_push langstream-runtime-tester
          tag_and_push langstream-cli
          tag_and_push langstream-deployer
          tag_and_push langstream-control-plane
          tag_and_push langstream-api-gateway

      - name: Package mini-langstream
        run: |
          version=${GITHUB_REF/refs\/tags\/v/}
          ./mini-langstream/package.sh $version
      - name: Generate agents doc
        run: |
          ./mvnw package -pl langstream-webservice -PgenerateDoc,skipPython -DskipTests -Dspotless.skip -nsu 
          

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "langstream-cli/target/langstream-*.zip,helm/crds/*.yml,target/mini-langstream-*.zip,langstream-webservice/target/api.json"
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
          prerelease: false
